page {
    height: 100%
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.login-icon {
    flex: none;
}

.login-img {
    width: 750rpx;
    height: 400rpx;
}

.login-form {
    margin-top: 20px;
    flex: auto;
    height: 100%;
}

.inputView {
    background-color: #fff;
    line-height: 45px;
}

.inputText {
    flex: block;
    float: right;
    text-align: right;
    margin-right: 22px;
    margin-top: 11px;
    color: #cccccc;
    font-size: 14px;
}

.inputLab  {
    color: #545454;
    font-size: 16px;
    margin: 15px 10px 15px 10px;
}

.input-img {
    margin-left: 22px;
    margin-top: 20px;
    width: 15px;
    height: 15px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin-top: 1px;
}

.loginBtnView {
    width: 90%;
    height: auto;
    background-color: #f2f2f2;
    margin: 20px auto;
    padding-bottom: 0px;
}

.loginBtn {
    width: 80%;
    margin-top: 35px;
}

.oauthLoginView {
    display: inline-block;
    margin-bottom: 45px;
    margin: 45px auto;
}

.oauthLoginBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 18px;
    float: left;
    padding: 0px;
}

.oauthLoginBtn image {
    margin: 0px;
    padding: 0px;
    width: 60px;
    height: 60px;
}
