<view class="container">
    <view class="user">
        <image class="user-head" src="../../images/user.jpg"></image>
        <view class="user-info">
            <view class="item">
                <view class="item-title">用户名</view>
                <view class="item-content">{{username}}</view>
            </view>
            <view class="item">
                <view class="item-title">性别</view>
                <view class="item-content">{{sex}}</view>
            </view>
            <view class="item">
                <view class="item-title">邮箱</view>
                <view class="item-content">{{email}}</view>
            </view>
            <view class="item">
                <view class="item-title">联系方式</view>
                <view class="item-content">{{contact}}</view>
            </view>
            <view class="item">
                <view class="item-title">地址</view>
                <view class="item-content">{{address}}</view>
            </view>
        </view>
    </view>
    <view class="register-wrap">
        <button class="change-account" bindtap="logout">切换账号</button>
        <button class="logout" bindtap="logout">退出登录</button>
    </view>
</view>
